<ion-header>
  <ion-toolbar>
    <ion-title>
      Reach Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-item><ion-icon name="person"></ion-icon> &nbsp;Akshatha A M</ion-item>
  </ion-card>
  <ion-card>
      <ion-item><ion-icon name="call"></ion-icon> &nbsp;123456789</ion-item>
    </ion-card> -->
    <ion-title style="margin-top:20px; ">Akshatha A M</ion-title>
    <ion-item lines="none" style="color:dimgray; "><ion-icon name="locate"></ion-icon>Bengaluru</ion-item>
    <ion-item lines="none" style="color:dimgray; "><ion-icon name="call"></ion-icon>123456789</ion-item>
</ion-content>
