<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-icon color="primary" canGoBack="true" name="arrow-back"></ion-icon>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img src="assets/about.jpg"></ion-img>
      </ion-card>
      <ion-card>
        <ion-card-title>Profile</ion-card-title>
        <ion-card-content>
            Bhilwara Infotechnology Limited (BIL) is a part of the LNJ Bhilwara Group, 
            which is one of India’s largest business conglomerates with combined annual 
            revenues of 1.5 Billion. The LNJ Bhilwara Group has diverse interests in 
            areas such as Power Generation, Graphite Electrodes, Sponge Iron and Textiles.
        </ion-card-content>
      </ion-card>
</ion-content>
