<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-title class="top">Welcome to Bhilwara Info</ion-title>
    <ion-card>
      <ion-img src="assets/2.jpg"></ion-img>
    </ion-card>
    <ion-card>
      <ion-card-title>Who we are</ion-card-title>
      <ion-card-content>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the 
        largest employers in India.</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>Our team of highly skilled, experienced and motivated 
          professionals are committed towards harnessing technology for providing 
          the best solutions to our customers. Our corporate goal is to provide 
          the best products and services to our customers and build strong and 
          long-term relationship with them.</ion-card-content>
      </ion-card>
</ion-content>
