<ion-header>
  <ion-toolbar>
    <ion-title>
      Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/android.png"></ion-img>
    <ion-card-title>Android Project</ion-card-title>
    <ion-card-content>This project has been created to represent how we are learning an Ionic in android.</ion-card-content>
  </ion-card>
  <ion-card>
      <ion-img src="assets/ios.jpg"></ion-img>
      <ion-card-title>IOS Project</ion-card-title>
      <ion-card-content>This project has been created to represent how we are learning an Ionic in IOS.</ion-card-content>
    </ion-card>
</ion-content>
